/*CSS styles*/

html {
    min-height: 100%;
    position: relative;
}

.container {
    max-width: 1000px;
}

.main-header {
    width: 100%;
    text-align: center;
}

.header {
    font-weight: 200;
}

.nav {
    text-align: center;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    justify-content: flex-start;
   
}

.nav a {
    width: 100%;
    padding-right: 1em;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #808080;
    font-size: 1.75em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #8c8c8c, #ccc);
    background-image: -moz-linear-gradient(to right, #ccc, #8c8c8c, #ccc);
    background-image: -webkit-linear-gradient(to right, #ccc, #8c8c8c, #ccc);
}

.content {
    margin-top: 3em;
    margin-bottom: 3em;
}

.about-intro {
    font-size: 2.5em;
    font-weight: 300;
}

.about {
    font-size: 1.5em;
    color: #737373;
}

.row {
    display: flex;
}

#meal-details {
    flex-grow: 1;
    border: 4px solid #b3b3b3;
    border-radius: 10px;
    text-align: center;
    padding-top: 3em;
    margin-right: 1em;
}

input {
    font-size: 1.25em;
    font-weight: 200;
    padding-left: .5em;
    background-color: #e1e8ed;
}

input:hover {
    border: 2px solid #666666;
}

.form-input {
    min-width: 200px;
    min-height: 40px;
}

#submit-button {
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 5px;
}

#clear-button {
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 5px;
}

#total-charges {
    flex-grow: 1;
    border: 4px solid #b3b3b3;
    border-radius: 10px;
    padding-top: 3em;
    padding-left: 15px;
}

.centered {
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 35px;
}

.subtitle {
    font-size: 1.25em;
}

.earnings-info {
    border: 4px solid #b3b3b3;
    border-radius: 10px;
}

.waiter-result {
    margin-bottom: 1em;
}

#reset-button {
    margin-bottom: 5em;
}


.footer {
    height: 5em;
    width:100%;
    position: relative;
    clear: both;
    top:100%;
    text-align: center;
    left: 0;
    right: 0;
}

